# ┌─────────────────────────────┐
# |         Base de datos       |
# └─────────────────────────────┘
DB_HOST=
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_SSLMODE=require

# ┌─────────────────────────────┐
# |         Google API Key      |
# └─────────────────────────────┘
GOOGLE_API_KEY=
GOOGLE_GENAI_USE_VERTEXAI=FALSE
MODEL_NAME=gemini-2.0-flash

# ┌─────────────────────────────┐
# |         MCP Server          |
# └─────────────────────────────┘
MCP_SERVER_HOST=127.0.0.1
MCP_SERVER_PORT=8000